h1 {
    border: 2px #eee solid;
    color: brown;
    text-align: center;
    padding: 10px;
}

.alert-success {
    color: white;
    background-color: green;
    border-color: darkgreen;
}

.alert-error {
    color: white;
    background-color: red;
    border-color: darkred;
}

.alert-info {
    color: white;
    background-color: blue;
    border-color: darkblue;
}

