{% extends 'base.html' %}


{% block content %}
{%if posts%}
<h2> My posts </h2>
    {% for post in posts %}
            <a href="{{ url_for('post', post_id=post.id) }}">
                <h2>{{ post.title }}</h2>
            </a>
            <span class="badge badge-primary">{{ post.created }}</span>
            <span class="badge badge-primary">{{ user.username }}</span>
            <hr>
    {% endfor %}
{%else%}
         <h2>You haven't uploaded any posts yet ...</h2>
{% endif %}
{% endblock %}